* {
    font-family: "Roboto";
}
body,
html {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
body {
    background-color: #444;
    color: white;
}
#canvasWrapper {
    text-align: center;
}
#spellCanvas {
    padding: 0px;
    margin: 0 auto;
    margin-top: 10vmin;
    width: 80vmin;
    height: 80vmin;
}
@media only screen and (max-width: 700px) {
    #spellCanvas {
        height: 40vh;
        width: 40vh;
        margin-top: 5vh;
    }
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 20px;
    border-bottom: 1px dashed white;
    text-align: center;
}
